{% extends 'bases/reviewsBase.html.twig' %}

{% block title %}#{{ tagName }}{% endblock %}

{% block scrollingBlock %}
    <div class="display-5">
        Reviews with #{{ tagName }}
    </div>
    <div class="scrolling-block" scrolling-data-type="reviews-by-tag" scrolling-param="tag-{{ tagName }}"></div>
{% endblock %}
