{% for comment in comments %}
    <div class="border rounded-2 fs-4 my-1">
        <div class="container p-2">
            {{ comment.text }}
        </div>
        <div class="row p-2 text-secondary fs-6">
            <div class="col text-start">
                {{ comment.author }}
            </div>
            <div class="col text-end">
                {{ comment.time | format_datetime('short', 'short') }}
            </div>
        </div>
    </div>
{% endfor %}