{% for comment in comments %}
    <div class="border rounded-2">
        <div class="container border-bottom p-2">
            {{ comment.text }}
        </div>
        <div class="row p-2">
            <div class="col text-left">
                {{ comment.author.nickname }}
            </div>
            <div class="col text-right">
                {{ comment.time | date('Y-m-d H:i', app.request.attributes.get('_locale')) }}
            </div>
        </div>
    </div>
{% endfor %}