{% extends 'base.html.twig' %}

{% block title %}Create review{% endblock %}

{% block body %}

<div class="display-3 mb-2">
    Create view
</div>
{{ form_start(form) }}

{{ form_end }}

{% endblock %}