{% extends 'reviews/reviewsBase.html.twig' %}

{% block scrollingBlock %}
    <div class="scrolling-block" scrolling-data-type="sortable-reviews" scrolling-param="{{ selectedSortType }}"></div>
{% endblock %}
